{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ],
  "ignore": [
    "node_modules/**"
  ]
}